.layui-footer {
    text-align: center;
}
.iconfont{
margin-right: 10px;
}

.layui-icon{
    margin-left: 15px;
    margin-right: 8px;
}

iframe{
    width: 100%;
    height: 100%;
}

.layui-body{
    overflow: hidden;
}
.userinfo{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    
}
.userinfo img {
    display: inline-block;
    width: 30px;
    height: 30px;
   
}
.text-avatar {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #009688;
    text-align: center;
    line-height: 30px;
    margin-right: 8px;
    color:#fff

}